body {
  margin: 0;
  font-family: sans-serif;
}

.site-content {
  margin: 0 auto;
  max-width: 720px;
}

.navbar {
  background-color: #9e799b;
  padding: 5px 20px;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  cursor: pointer;
  background-color: purple;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.logo {
  text-transform: uppercase;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navlinks {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.photo {
  height: 400px;
  border-radius: 100px;
}
